@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&family=Titillium+Web:wght@400;600;700&display=swap");

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

html,body {
  height: 100%;
  margin: 0px;
}