.header {
  height: 50px;
  background-color: #0d47a1;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}
.title {
  text-align: center;
  font-size: 22px;
  margin: 16px 0 16px 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.radio-options {
  display: flex;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 16px 0 16px;
}
.form-title {
  font-weight: 500;
}

.duration {
  margin: 16px 0 16px 0;
  input {
    width: 132px;
  }
}

.buttons {
  button {
    background-color: #0d47a1;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    margin: 0 8px 0 8px;
    cursor: pointer;
    width: 80px;
  }
}
